@use "../variables";
@use "header";
@use "footer";
@use "functions";

/*------------------------------------
---------------  BASE  ---------------
------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------------------------
---------------  LAYOUT  -------------
------------------------------------*/

.layout {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  min-height: 100vh;
}

.layout__central-image {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;

  min-height: 0;
  padding-right: 2rem;
  padding-left: 2rem;

  background-image: url(../images/artesania-4.webp);
  background-position: center;
  background-size: cover;
}

@supports (display: grid) {
  .layout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr auto auto;
  }

  .layout__central-image {
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    min-height: 0;
    background-image: url(../images/artesania-4.webp);
  }
}

/*------------------------------------
---------------  MODULES  ------------
------------------------------------*/

.module__subtitle {
  color: variables.$border-black;
  font-size: 1.25rem;
  font-weight: 500;
  a {
    color: variables.$footer-white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.module__portrait-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: variables.$border-black;
    font-size: 5rem;
    text-align: center;
    @container (width < 700px) {
      font-size: 2em;
    }
  }
}
