<footer>
  <div class="layout__first-row">
    <p>Pau Gibert Moreno, Universitat Oberta de Catalunya</p>
  </div>
  <div class="layout__second-row">
    <i class="fa-solid fa-compass-drafting">RTISAN</i>
    <a href="./index.html">Inicio</a>
    <a href="./ponientes.html">Ponientes</a>
    <a href="./about.html">Quienes somos</a>
    <a href="./contact.html">Contáctanos</a>
    <div>
      <i class="fa-brands fa-google-plus"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
  </div>
</footer>
